<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
    <footer class="footer mt-auto">
        <h6>
            - Made by $3RP3NT & InsaNe
        </h6>
        </footer>
</nav>
</body>

</html>